.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("./resources/images/macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-2020-4096x2304-1455-small.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
